ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

li {
    display: inline;
}

a {
    display: block;
    padding: 8px;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover{
    background-color: #555666;
}