* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.sitebody{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-image: url(menu.png);
    
    height: 65px;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}
#wrapper {
    background-image: url(menu.png);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo {
    background-image: url(menu.png);
    width: 125px;
    padding-top: 5px;
}

.logo img {
    background-image: url(menu.png);
    width: 150px;
    height: 55px;
}

.search {
    background-image: url(menu.png);
    
    top: 13px;
    margin-bottom: 100px;
}

#search input[type = "text"] {
    background: url(search-grey.png) no-repeat 10px 6px #cccccc;
    outline: none;
    border: 0 none;
    font: bold 12px Arial, Helvetica, Sans-serif;
    padding: 6px 15px 6px 35px;
    margin: 0px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .1) 0 1px 3px rgba(0,0,0,.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) 0 1px 3px rgba(0,0,0,.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1) 0 1px 3px rgba(0,0,0,.2) inset;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    transition: all .7s ease 0s;
}

#search input[type = "text"]:focus {
    background: url(search-black.png) no-repeat 10px 6px #dddddd;
    color: #6a6f75;
    width: 350px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .1) 0 1px 0px rgba(0,0,0,.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) 0 1px 0px rgba(0,0,0,.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1) 0 1px 0px rgba(0,0,0,.9) inset;
    text-shadow: 0 2px 3px rgba(0,0,0,.1);
}

#navBar {
    background-image: url(menu.png);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 37px;
    padding-top: 19px;
    margin-right: 25%;
}


#navBar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    background-image: url(menu.png);
    background-repeat: no-repeat;
    padding-top: 19px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

#navBar a:hover {
    background-image: url(menu_back_drop.png);
    text-decoration: underline;
}

h2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;
    padding-top: 40px;
    color: #0084c6
}

input[type = "text"] {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 10px;
    outline: none;
}

input[type="text"]:hover {
    border: 1px solid #006fc4
}

input[type="submit"] {
    
    background-color: #33ccff;
    border: 1px solid #006fc4;
    font-size: 15px;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 7px;
}

.footer {
    width: 100%;
    background-image: url(menu.png);
    padding: 30px 0px;
    text-align: center;
}

footer li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

#content {
    width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    flex: 1;
}

.signuptble{
    padding-top: 200px;
    padding-left: 300px;
    background-color: antiquewhite;
}

#error {
    background-color: red;
    text-decoration: white;
    font-size: 12px;
}

#success {
    background-color: dodgerblue;
    text-decoration: white;
    font-size: 12px;
}

