* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.sitebody{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-image: url(menu.png);
    
    height: 65px;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}
#wrapper {
    background-image: url(menu.png);
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1000px;
    padding-top: 40px;
    margin-bottom: 75px;   
}

.logo {
    background-image: url(menu.png);
    width: 125px;
    padding-top: 5px;
}

.logo img {
    background-image: url(menu.png);
    width: 150px;
    height: 55px;
}

#navBar {
    background-image: url(menu.png);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 37px;
    padding-top: 19px;
    margin-right: 25%;
}


#navBar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    background-image: url(menu.png);
    background-repeat: no-repeat;
    padding-top: 19px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

#navBar a:hover {
    background-image: url(menu_back_drop.png);
    text-decoration: underline;
}

h2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;
    padding-top: 40px;
    color: #0084c6
}

input[type = "text"] {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 10px;
    outline: none;
}

input[type="text"]:hover {
    border: 1px solid #006fc4
}

input[type="submit"] {
    
    background-color: #33ccff;
    border: 1px solid #006fc4;
    font-size: 15px;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 7px;
}

.footer {
    width: 100%;
    background-image: url(menu.png);
    padding: 30px 0px;
    text-align: center;
}

footer li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

#content {
    width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 75px;
    padding-bottom: 20px;
    flex: 1;
}

.signuptble{
    padding-top: 200px;
    padding-left: 300px;
    background-color: antiquewhite;
}

#error {
    background-color: red;
    color: white;
    font-size: 12px;
}

#success {
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
}


#formbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;
    padding-top: 40px;
    text-decoration-color: #0084c6;
    text-align: center;
}

.textHeader {
    background-color: #f3f6f9;
    width: 190px;
    height: 15px;
    padding: 5px;
    border-bottom: 1px solid #dce5ee;
    font-weight: 600;

}

.profileLeftContent{
    width: 194px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0px;
    height: 200px;
}

.postForm {
    float: right;
    width: 580px;
    height: 100px;
    background-color: #f3f6f9;
    padding: 2px;
}

.profilePosts {
    float: right;
    width: 600px;
    height:714px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dce5ee;
    padding: 2px;
}

.logout {
    background-image: url(menu.png);
    position: absolute;
    color: white;
    text-decoration: none;
}

.logout:hover {
    background-image: url(menu_back_drop.png);
    text-decoration: underline;
}
.postSubmit {
    background-color: #dec5ee;
    float: right;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    font-size: 14px;
    margin: 5px;
    background-color: dodgerblue;
    color: white;
  }

