body {
    background-color: #00FF00;
}
p {
    color: #111111;
    margin: 0x 10%;
    padding: 0px 10px;
    line-height: 25px;
    text-indent: 20px;
    background-color: lightslategrey;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
#first{
    border-top: 1px #DDD solid;
}
.highlight {
    background-color: yellow;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}